%h4 Hello,

%p
  #{@collaborator.nickname} wants to reward you #{@tip.amount ? btc_human(@tip.amount) : ""} on his project #{@tip.project.name}.
  = link_to "More details on the distribution", project_distribution_url(@tip.project, @tip.distribution)

%p
  To get your reward you must provide a Gamecredits address.

- if @user.confirmed?
  %p= link_to "Set your Gamecredits address", edit_registration_url(@user)
- else
  %p= link_to 'Set your password and Gamecredits address', set_password_and_address_user_url(@user, token: @user.confirmation_token)

%p Thank you.

%p= link_to "code4gamecredits.com", "http://code4gamecredits.com/"

%p
  %small
    = link_to "Don't notify me anymore.", login_users_url(token: @user.login_token, unsubscribe: true)

