.row
  .col-md-12
    = bootstrap_form_for [@project, @distribution] do |f|
      %table.table
        %thead
          %th Recipient
          %th Comment
          %th Amount
        %tbody#recipients
          = f.fields_for :tips do |fields|
            - user = fields.object.user
            %tr
              %td
                = fields.hidden_field :id
                = fields.hidden_field :user_id
                = link_to user.recipient_label, user
              %td= fields.text_field :comment, hide_label: true
              %td= fields.text_field :coin_amount, hide_label: true
      .form-group
        %label{for: "add-recipients-input"} Add recipient(s)
        %input.form-control#add-recipients-input{type: "text", autocomplete: "off", data: {suggestion_url: recipient_suggestions_project_distributions_path(@project)}}
        #recipient-suggestions
      .text-center
        = f.submit "Save the distribution", class: 'btn btn-primary'
