= bootstrap_form_for Distribution.new do |f|
  - suggestions = []
  - if params[:text] =~ Devise::email_regexp
    - user = User.where(email: params[:text]).first_or_initialize
    - recipients = capture_haml do
      = render "tip_form", tip: Tip.new(user: user), form: f
    - suggestions << [user.recipient_label, recipients]
  - User.where('nickname LIKE ?', "%#{params[:text]}%").each do |user|
    - recipients = capture_haml do
      = render "tip_form", tip: Tip.new(user_id: user.id), form: f
    - suggestions << [user.recipient_label, recipients]
  - if @project.github?
    - recipients = capture_haml do
      - @project.commits.each do |commit|
        - next if Tip.where(origin: commit).any?
        - user = User.where(nickname: commit.username).first
        - if user
          - tip = Tip.new(user_id: user.id)
        - else
          - tip = Tip.new(user_attributes: {nickname: commit.username, email: commit.email})
        - tip.origin = commit
        = render "tip_form", tip: tip, form: f
    - suggestions << ["Authors of non rewarded commits", recipients]
    - @project.commits.each do |commit|
      - if commit.sha =~ /\A#{Regexp.escape params[:text]}/
        - recipients = capture_haml do
          - user = User.where(nickname: commit.username).first
          - if user
            - tip = Tip.new(user_id: user.id)
          - else
            - tip = Tip.new(user_attributes: {nickname: commit.username, email: commit.email})
          - tip.origin = commit
          = render "tip_form", tip: tip, form: f
        - suggestions << ["Commit #{truncate_commit commit.sha}", recipients]
  - suggestions.each_slice(4) do |slice|
    .row
      - slice.each do |label, recipients|
        .col-md-3
          %a.btn.btn-block.btn-default.add-recipient-button{href: "#", data: {recipients: recipients}}= label
