= bootstrap_form_for @project, layout: :horizontal do |f|
  = f.alert_message "Please fix the errors below."
  = f.text_field :name
  = f.text_field :description
  = f.text_area :detailed_description, rows: 10
  = f.fields_for :tipping_policies_text, @project.tipping_policies_text || @project.build_tipping_policies_text do |fields|
    = fields.text_area :text, rows: 10, label: "Tipping policies"
  = f.text_field :full_name, label: "GitHub URL (optional)"
  = f.form_group do
    = f.check_box :auto_tip_commits, {label: "Automatically send 1% of the balance to each commit added to the default branch of the GitHub project"}
  = f.form_group do
    = f.primary "Save"
