- content_for :title do
  = "#{@project.name} - Donor list"
  
.row
  .col-md-12
    %h1
      = content_for(:title)
    %table.table.table-hover.donor-list
      %thead
        %tr
          %th.sender-address Sender address
          %th.amount Amount
          %th.transactions Transactions
      %tbody
        - groups = @project.deposits.includes(:donation_address).group_by(&:donation_address)
        - groups = groups.sort_by { |da, deposits| deposits.map(&:amount).sum }.reverse
        - groups.each do |donation_address, deposits|
          %tr.donor-row
            %td.sender-address= donation_address.try(:sender_address).presence || 'No address provided'
            %td.amount= btc_human deposits.map(&:amount).sum
            %td.transactions
              - deposits.sort_by(&:created_at).each_with_index do |deposit, i|
                = link_to "[#{i+1}]", transaction_url(deposit.txid)
