%h1 Projects
%p
  %table.table
    %thead
      %tr
        %th Name
        %th Description
        %th Watchers
        %th Balance
        %th
    %tbody
      - @projects.each do |project|
        %tr
          %td
            %strong= link_to project.name, project
          %td= project.description
          %td= project.watchers_count
          %td= btc_human project.available_amount_cache
          %td= link_to 'Details', project, class: 'btn btn-success'
  = paginate @projects
