- content_for :title do
  = @project.name
- content_for :description do
  = @project.description
  
.row
  .col-md-8
    %h1
      = @project.name
      - if (url = @project.github_url).present?
        %small= link_to glyph(:github), url, target: '_blank'
    - unless @project.description.blank?
      %h3= @project.description
    - unless @project.detailed_description.blank?
      = render_markdown @project.detailed_description

    - if @project.tipping_policies_text.try(:text).present?
      %h4 Tipping policies
      = render_markdown @project.tipping_policies_text.text
      %small
        %em
          - user = @project.tipping_policies_text.user
          - name = user.nickname.presence || user.name if user
          - date = l(@project.tipping_policies_text.updated_at)
          - if name.present?
            = "(Last updated by #{name} on #{date})"
          - else
            = "(Last updated on #{date})"

  .col-md-4
    - if @project.disabled?
      .panel.panel-danger.note-panel
        .panel-heading
          %h4.panel-title
            Project Disabled
        .panel-body.text-center
          %p
            This project has been disabled.
            It doesn't accept donation and it will not distribute tips.
          - if (reason = @project.disabled_reason).present?
            %p Reason: #{reason}

    - else
      .panel.panel-default.project-panel.note-panel
        .panel-heading
          %h4.panel-title
            Project informations
        .panel-body.text-center
          %table.table.text-left
            %tr
              %td Fundraiser
              %td
                - @project.users.each do |user|
                  .fundraiser= link_to user.full_name, user
            %tr
              %td Funds
              %td
                = btc_human @project.available_amount
                - if @project.deposits.any?
                  .list-of-donors
                    = link_to "List of donors", donors_project_path(@project)
            %tr
              %td Distributions
              %td
                - if @project.distributions.empty?
                  None
                - else
                  %ul.list-unstyled#distribution-list
                    - @project.distributions.order(created_at: :desc).limit(5).each do |distribution|
                      %li.distribution-link
                        - label = btc_human(distribution.total_amount)
                        - if distribution.sent?
                          - if distribution.sent_at
                            - label << " sent #{time_ago_in_words(distribution.sent_at)} ago"
                          - else
                            - label << " sent"
                        - else
                          - label << " not sent"
                        = link_to label, [@project, distribution]
                  = link_to "All distributions", project_distributions_path(@project)

          = link_to "Donate", donate_project_path(@project), class: "btn btn-primary btn-block"
          - if can? :update, @project
            = link_to "Edit project", edit_project_path(@project), class: "btn btn-default btn-sm btn-block"
          - if can? :decide_tip_amounts, @project and @project.has_undecided_tips?
            = link_to "Decide tip amounts", decide_tip_amounts_project_path(@project), class: "btn btn-default btn-sm btn-block"
          - if can? :create, @project.distributions.build
            = link_to "New distribution", new_project_distribution_path(@project), class: "btn btn-default btn-sm btn-block"

.row
  .col-md-8
    %hr
    %h4 Promote #{@project.name}
    %p
      / AddThis Button BEGIN
      .addthis_toolbox.addthis_default_style.addthis_32x32_style(addthis:data_track_clickback="false" addthis:data_track_addressbar="false")
        %a.addthis_button_preferred_1
        %a.addthis_button_preferred_2
        %a.addthis_button_preferred_3
        %a.addthis_button_preferred_4
        %a.addthis_button_compact
        %a.addthis_counter.addthis_bubble_style
      / AddThis Button END

    %h4 Embed in README.md
    %p= link_to image_tag(project_url(@project, format: :svg), alt: 'Prime4commit'), project_url(@project)
    %p
      %input.form-control{type: 'text', value: "[![tip for next commit](#{project_url(@project, format: :svg)})](#{project_url(@project)})"}

    %hr
    = commontator_thread(@project)

