%h1
  - if @project
    = link_to @project.full_name, @project
    tips
  - else
    Tips
%p
  %table.table
    %thead
      %tr
        %th Created At
        %th Commiter
        - unless @project
          %th Project
        %th Commit
        %th Amount
        %th Withdrawal
    %tbody
      - @tips.each do |tip|
        %tr
          %td= l tip.created_at, format: :short
          %td
            - if tip.user
              - if tip.user.nickname.blank?
                = tip.user.full_name
              - else
                = link_to tip.user.full_name, "https://github.com/#{tip.user.nickname}", target: '_blank'
          - unless @project
            %td= link_to tip.project.full_name, tip.project
          %td
            - if tip.commit.present?
              = link_to tip.commit[0..6], "https://github.com/#{tip.project.full_name}/commit/#{tip.commit}", target: :blank
          %td= btc_human tip.amount
          %td{class: tip.distribution.try(:is_error?) ? "danger" : nil}
            - if tip.distribution.nil?
              - if tip.refunded_at
                Refunded to project's deposit
              - elsif tip.undecided?
                The amount of the tip has not been decided yet
              - elsif tip.free?
              - elsif tip.user.bitcoin_address.blank?
                User didn't specify withdrawal address
              - elsif tip.project.amount_to_pay < CONFIG["min_payout"].to_d * COIN
                The amount of tips for this project is below withdrawal threshold
              - else
                Waiting for withdrawal
            - else
              - if tip.distribution.is_error?
                Transaction failed
              - if tip.distribution.txid.present?
                = link_to tip.distribution.txid, transaction_url(tip.distribution.txid), target: :blank
  = paginate @tips
